body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    /* background-color: skyblue; */
    background-image: url(./background.jpg);
    background-size: cover;
}

@media (max-width: 767px) {
    #board {
        width: 100vw; /* 100% of the viewport width */
        height: 100vh; /* 100% of the viewport height */
    }
}
